/*.ui-slider.ui-widget-content {
background: #083554 url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
border: none;
}
.ui-slider-vertical .ui-slider-handle {
left: 0px;
margin-left: 0;
width: 100%;
height: 1.2em;
}
.ui-slider .ui-slider-handle {
border: none;
background: #9AC0CD;
}
*/
body .ui-scroller-vertical, body .ui-scroller-horizontal
{
	background: #D7D9D9;
	border: none;
	z-index: 1;
}
body .ui-scroller-vertical .ui-slider-handle, body .ui-scroller-horizontal .ui-slider-handle {
background: #B82F23;
border: none;
}

body .ui-scroller-vertical {
	width: 12px;
}
body .ui-scroller-vertical .ui-slider-handle {
left: 0px;
width: 12px;
position: absolute;
}
body .ui-scroller-horizontal {
	height: 12px;
}
body .ui-scroller-horizontal .ui-slider-handle {
top: 0px;
height: 12px;
}
body .scrolledOutOfView {
	display: none;
}